.Tables{
    border: 1px solid black;
    margin:1rem
}
.Buttons{
    display: grid !important;
    grid-template-columns: repeat(auto-fill,minmax(9rem,2fr));
}

.Selected{
    background-color: black !important;
    color: white !important;
}