.Buttons{
    display: grid !important;
    /* grid-template-columns:repeat(6,1fr) */
    grid-template-columns: repeat(auto-fill,minmax(11rem,1fr));
}

.Description{
    margin-left: 5%;
    margin-right: 5%;
}

.Saves{
    width: 16rem;
    margin-left: 5%;
    margin-right: 5%;
}

.Lists{
    margin: 1rem;
    width:30rem;
}